.boxbackground {
    background: rgba(255, 254, 254, 0.08) !important;
    box-shadow:
        0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter:
        blur(6.5px);
    -webkit-backdrop-filter:
        blur(6.5px);
    border-radius:
        10px !important;
    color: lightblue !important;
}

.readmore {
    background: transparent;

}